<html>
<head>
    <title>BorbVision</title>
</head>
  <body>
    <img src="{{ url_for('video_feed') }}" class="view">
  </body>
<style>
.view {
    height: 90%;
    width: auto;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#move-l').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-l',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-r').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-r',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-u').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-u',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-d').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-d',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-c').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-c',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-ul').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-ul',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-ur').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-ur',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-dl').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-dl',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-dr').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-dr',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
  <table id="control">
      <tr>
          <td><a href=# id=move-ul><button class='ctrlbtn'>UL</button></a></td>
          <td><a href=# id=move-u><button class='ctrlbtn'>Move U</button></a></td>
          <td><a href=# id=move-ur><button class='ctrlbtn'>UR</button></a></td>
      </tr>
      <tr>
          <td><a href=# id=move-l><button class='ctrlbtn'>Move L</button></a></td>
          <td><a href=# id=move-c><button class='ctrlbtn'>Centre</button></a></td>
          <td><a href=# id=move-r><button class='ctrlbtn'>Move R</button></a></td>
      </tr>
      <tr>
          <td><a href=# id=move-dl><button class='ctrlbtn'>DR</button></a></td>
          <td><a href=# id=move-d><button class='ctrlbtn'>Move D</button></a></td>
          <td><a href=# id=move-dr><button class='ctrlbtn'>DL</button></a></td>
      </tr>
  </table>
<style>
.ctrlbtn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</html>