<html>
  <body>
    <h1>Remote Web Camera Interface</h1>
    <img src="{{ url_for('video_feed') }}" class="view">
  </body>
<style>
.view {
    height: 90%;
    width: auto;
}
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#move-l').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-l',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-r').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-r',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-u').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-u',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-d').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-d',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
<script type=text/javascript>
        $(function() {
          $('a#move-c').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/move-c',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
</script>
  <table id="control">
      <tr>
          <td></td>
          <td><a href=# id=move-u><button class='btn btn-default'>Move U</button></a></td>
          <td></td>
      </tr>
      <tr>
          <td><a href=# id=move-l><button class='btn btn-default'>Move L</button></a></td>
          <td><a href=# id=move-c><button class='btn btn-default'>Centre</button></a></td>
          <td><a href=# id=move-r><button class='btn btn-default'>Move R</button></a></td>
      </tr>
      <tr>
          <td></td>
          <td><a href=# id=move-d><button class='btn btn-default'>Move D</button></a></td>
          <td></td>
      </tr>
  </table>
</html>